---
- name: Connect to remote machine
  hosts: 127.0.0.1
  remote_user: ming

  tasks:
  - name: Configure redis configuratio catelogs
    shell: sudo mkdir -p /etc/redis

  tasks:
  - name: Copy configuration file to /etc
    shell: sudo cp /home/ming/tar/redis-7.2/redis.conf /etc/redis/redis.conf

  tasks:
  - name: 7001
    file:
      path: "{{ installroot }}/7001"
      state: directory
  - name: 7001_redis.conf
    file:
      path: "{{ installroot }}/7001/redis.conf"
      state: touch

  - name: 7002
    file:
      path: "{{ installroot }}/7002"
      state: directory
  - name: 7002_redis.conf
    file:
      path: "{{ installroot }}/7002/redis.conf"
      state: touch

  - name: 7003
    file:
      path: "{{ installroot }}/7003"
      state: directory
  - name: 7003_redis.conf
    file:
      path: "{{ installroot }}/7003/redis.conf"
      state: touch

  - name: 7004
    file:
      path: "{{ installroot }}/7004"
      state: directory
  - name: 7004_redis.conf
    file:
      path: "{{ installroot }}/7004/redis.conf"
      state: touch

  - name: 7005
    file:
      path: "{{ installroot }}/7005"
      state: directory
  - name: 7005_redis.conf
    file:
      path: "{{ installroot }}/7005/redis.conf"
      state: touch

  - name: 7006
    file:
      path: "{{ installroot }}/7006"
      state: directory
  - name: 7006_redis.conf
    file:
      path: "{{ installroot }}/7006/redis.conf"
      state: touch

  - name: start_script
    file:
      path: "{{ installroot }}/startup.sh"
      state: touch
  - name: writting start script
    blockinfile:
      path: "{{ installroot }}/startup.sh"
      block: |
        redis-server "{{ installroot }}/7001/redis.conf"
        redis-server "{{ installroot }}/7002/redis.conf"
        redis-server "{{ installroot }}/7003/redis.conf"
        redis-server "{{ installroot }}/7004/redis.conf"
        redis-server "{{ installroot }}/7005/redis.conf"
        redis-server "{{ installroot }}7006/redis.conf"
      state: present
  - name: change privlige
    shell: chmod u+x "{{ installroot }}/startup.sh"
